* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

.formulario {
    width: 100%;
    max-width: 550px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.form_caja {
    margin-top: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.titulo {
    margin-bottom: 10px;
    font-size: 1rem;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
}

.botonContain {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.premium {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.a {
    font-size: 0.9rem;
    color: blue;
    margin-bottom: 10px;
}

.boton {
    height: 50px;
    width: 48%;
    font-size: 1rem;
    background-color: #333;
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.usuario-info {
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

.usuario-nombre {
    margin-bottom: 0;
 
}

.usuario-info img {
    width: 2.6em;
    height: 2.6em;
    border-radius: 50%;
    margin-left: 10px;
  
}

.usuario-info {
    width: 100%;
    display: flex;
    justify-content: end;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 1em;
}
