* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #101010;
    font-weight: 400;
    min-height: 100vh;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#contenedor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "lateral header header header header header"
        "lateral main main main main main"
        "lateral main main main main main"
        "lateral main main main main main"
        "lateral main main main main main"
        "lateral main main main main main"
        "lateral main main main main main"
        "lateral reproductor reproductor reproductor reproductor reproductor";
    gap: 1px;
    height: 100vh;

}

#barra-izquierda {
    grid-area: lateral;
    padding: 20px;
    background-color: #282828;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


ul {
    padding-inline-start: 0%;
    list-style-type: none;
    border: 1px solid white;
    border-radius: 5px;
}

li {
    display: flex;
    padding: 10%;
    border-bottom: 1px solid white;
}

li>a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a {
    color: #4ead00;
    font-weight: normal;
}


li:last-child {
    border-bottom: none;


}


li:hover {
    background-color: #242424;
}



#descripcion {
    margin-top: 20px;
    font-size: 14px;
}

#descripcion-contenedor {
    display: flex;
    flex-direction: column;
    max-width: min-content;
}


header {
    background-color: #282828;
    color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 70% 20% 10%;
    align-items: center;
}


#usuario {
    text-align: right;
    flex-direction: column;
}

#icono {
    justify-content: center;
}

#iconoimg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.sesion {
    color: #4ead00;
    font-weight: normal;
}


main {
    grid-area: main;
    height: 100%;
    margin: 0 2%;
    overflow-y: auto;
}


.item-imagen, .imagen-sidebar {
    position: relative;
    margin: 10px;
}


.estrella-label {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid yellow;
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
    cursor: pointer;
}

.estrella-checkbox {
    display: none;
}

.estrella-checkbox:checked+.estrella-label {
    background-color: yellow;
}



.reproductor {
    grid-area: reproductor;
    margin: 1%;
    background-color: #242424;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.controles {
    display: flex;
    gap: 10px;
}

.boton-play,
.boton-pausa {
    width: 30px;
    height: 30px;
    background-color: #333;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.barra-progreso {
    width: 80%;
    height: 5px;
    background-color: #ddd;
    margin-top: 10px;
}

.progreso {
    height: 100%;
    background-color: #4ead00;
    ;
    width: 30%;
}

/* footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    height: 100%;
    text-align: center;
    padding: 50px;
    margin-top: 5px
} */

footer {
    grid-area: footer;
    height: 100%;
    text-align: center;
    padding: 50px;
    margin-top: 5px;
    background-color: #282828;
    color: white;
    margin-top: 5%;
    min-width: 459px;
}

footer p {
    margin: 1em;
}



@media (max-width: 1280px) {
    .estrella-label{
        width:1em;
        height:1em;

    }
}

@media (max-width: 600px) {

    body {
        display: block;
    }


    #contenedor {
        width: 100vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 15% 65% 10%;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "reproductor"


    }


    header {
        display: grid;
        grid-template-columns: 50% 30% 20%;
        font-size: 0.8em;
    }




    #barra-izquierda {
        grid-area: nav;
        background-color: #101010;
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 2%;
        max-width: none;
    }

    ul {

        display: flex;
        flex-direction: column;
    }

    li {
        padding: 0;
        font-size: 0.8em;
    }

    #descripcion-contenedor {
        display: flex;
        flex-direction: row;
        max-width: fit-content;
    }

    
    #imagen-lateral {
        max-width: min-content;
        max-height: 23%;
    }


    #descripcion {
        margin-top: 2.5%;
        font-size: 0.7em;
    }

    main {
        grid-area: main
    }

    #reproductor {
        grid-area: reproductor
    }

    .estrella-label{
        width:1em;
        height:1em;

    }

}

