li:nth-child(3) {

    background-color: #333;

}

li:first-child{
    background-color:  #282828;
}

@media (max-width: 1280px) {

    #galeria-imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    
}

@media (max-width: 600px) {

    #galeria-imagenes{
        display:block;
        width:100%;
    }

}


