*{
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1; 
}
.contenido_form{
    
    flex:1;
    width: 100%;
    margin-top:5%;
    background-color: #242424;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: white;
}
.usuario-info {
    display: flex;
    align-items: right;
    margin: 30px;
    justify-content: end;
    border: solid red 2px;
    
}

.usuario-nombre{
    margin-bottom: 0;
}

.usuario-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.titulo{
    display: flex;
    justify-content: center;
    margin: 8px;
    margin-top: 7px;
    font-size: 40px;
}
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 50px;
    margin-left: 70px;
    margin-right: 70px;
    
}

.contenedor img{
    width: 300px;
    
}

.plan{
    font-size: 23px;
    margin-left: 25px;
    justify-content: center;
    margin-right: 35px;
    width: 700px;
}


.columnas-datos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    

}
.datos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;

    
}
input{
    width: 200px;
    border: 1px solid black;

}
.datos p{
    font-size: 20px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 45px;
    padding: 20px;

}
.boton {
    background-color: black;

    font-size: 20px;
    width: 200px;
    border: 1px solid;
    border-radius: 6px;
    margin: 6px;

    


}
.boton a {
    color: white;
   
    text-decoration: none;
}

.boton a:hover{
    color: aqua;

}


@media (min-width: 200px) and (max-width: 600px) {
    .usuario-info {
        margin: 5px;
    }

    .titulo {
        font-size: 20px;
    }
    .contenedor{
        display: flex;
        flex-wrap: wrap;

    }

    .contenedor img {
        width: 200px;
        height: 200px;
    }
  

    .plan {
        font-size: 14px;
        margin: 10px 0;
    }

    .formulario {
        padding: 5px;
    }

    .boton {
        font-size: 16px;
        padding: 8px 16px;
    }
    
    .contenedor {
        margin: 10px;
    }

    .contenedor img {
        max-width: 100%;
    }
    .datos p{
        font-size: 13px;
        margin: 5px;
    }
    .datos{
        width: 150px;
        
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .usuario-info {
        margin: 5px;
    }

    .titulo {
        font-size: 22px;
    }

    .contenedor img {
       width: 200px;
       height: 150px;
    }

    .plan {
        font-size: 16px;
        margin: 10px 0;
    }

    .formulario {
        padding: 5px;
        max-width: 80%;
    }

    .boton {
        font-size: 16px;
        padding: 8px 16px;
    }
}

