* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formularios {
    width: 100%;
    max-width: 400px;
    background-color: #242424;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: white;
}

.a {
    text-align: center;
    margin-bottom: 2em;
}

.titulo {
    font-size: 1.3rem;
    margin: 0.5rem 0;
    
}

.inp {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid black;
    margin: 0.6rem 0;
}

.boton {
    margin: 1.2rem 0;
    border: 1px solid black;
    width: 100%;
    padding: 0.6rem;
    border-radius: 8px;
    font-size: 1.5rem;
    color: white;
    background-color: #333;
}
.Registrarse{
    color: #1ED760;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #282828;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 1em;
}
