
h1,
#usuario,
#icono {
    display: flex;
    position: relative;
}

h1 {
    left: 5%;
}

li:first-child{
    background-color: #333;
}


#galeria-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;

}


#galeria-imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 600px) {

    #galeria-imagenes{
        display:block;
        width:100%;
    }

}



@media (max-width: 1280px) {

    #galeria-imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    
}