* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri';
   
}

html, body {
    background-color: #f0f2f5;
}

.contenedor {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.content {
    flex: 1;

}

.formularios {
    width: 400px;
    height: 400px;
    background-color: white;
    margin: auto;
    padding: 30px;
    margin-top: 170px;
    border-radius: 8px;    
    margin-bottom: 230px; 
}


.a {
    text-align: center;
}

.titulo {
    font-size: 30px;
    margin: 7px; 
}

.inp {
    width: 100%;
    padding: 18px;
    border-radius: 8px;
    border: 1px solid black; 
}

.boton {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 1px solid black; 
    width: 100%;
    padding: 10px;
    border-radius: 8px;
}



.footer {
    background-color: white;
    height: 140px;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}